body
{
    background-color: #121212;
}
h1{
    color: green;
    text-align: center;
}
h2{
    color: green;
    text-align: center;
}
h3{
    color: green
}
p{
    color: #D3D3D3
}
ul{
    color: #D3D3D3
}
a{
    color: #D3D3D3
}
b{
    color: #D3D3D3
}


